<app-nav></app-nav>
<div class="job-application">
    <h2>{{title}}</h2>
    <form #form="ngForm" (ngSubmit)="logForm(form.value)">
        <mat-form-field>
            <input matInput placeholder="Your first name" name="firstName" ngModel>
            <mat-hint align="end" style="color:crimson" *ngIf="form.value.firstName.length < 3">Too short, needs min 3 symbols </mat-hint>
            <mat-hint align="end" style="color:crimson" *ngIf="form.value.firstName.length > 100">Too long, needs max 100 symbols </mat-hint>
        </mat-form-field>
        <div>
            <mat-form-field>
                <input matInput placeholder="Your last name" name="lastName" ngModel>
                <mat-hint align="end" style="color:crimson" *ngIf="form.value.lastName.length < 3">Too short, needs min 3 symbols </mat-hint>
                <mat-hint align="end" style="color:crimson" *ngIf="form.value.lastName.length > 100">Too long, needs max 100 symbols </mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Your email is {{standartEmail}}, you can use another email" value=standartEmail name="email" ngModel>
                <p *ngIf="form.value.email">
                    <mat-hint align="end" style="color:crimson" *ngIf="!isValidEmail(form.value.email)">{{form.value.email}} This email is not valid</mat-hint>
                </p>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Comment" name="comment" ngModel></textarea>

                <mat-hint align="end" style="color:crimson" *ngIf="form.value.comment.length >1024">
                    Symbols:{{form.value.comment.length}} Your comment is longer than 1024 symbols</mat-hint>
            </mat-form-field>
        </div>
        <input type="file" name="cv" (change)="onSelectedCV($event)" placeholder="Choose file" />
        <mat-hint align="end" style="color:crimson;margin-left:10px;" *ngIf="selectedCV==null">You should upload file </mat-hint>
        <p *ngIf="selectedCV">
            <mat-hint align="end" style="color:crimson" *ngIf="selectedCV.size >16000">Your size is bigger than 16MB </mat-hint>
        </p>
        <p *ngIf="selectedCV">
            <mat-hint align="end" style="color:crimson" *ngIf=!acceptedFormat()>Accepted files are pfd,doc and docx</mat-hint>
        </p>
        <br>

        <input type="file" (change)="onSelectedCoverLetter($event)" placeholder="Choose file" />
        <p *ngIf="selectedCV">
            <button mat-raised-button color="primary" type="submit" *ngIf="acceptedFormat()&&selectedCV.size && form.value.firstName.length > 2 && form.value.firstName.length <100 && form.value.lastName.length > 3 &&form.value.lastName.length < 100 && form.value.lastName.length < 1024">Send</button>
        </p>
        <!--  -->
    </form>
</div>