<mat-toolbar class="toolbar" color="">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
                <a [routerLink]="['/careers']" routerLinkActive="active">Careers</a>
                <a [routerLink]="['/contacts']" routerLinkActive="active">Contacts</a>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">

            </div>
            <div *ngIf="name; else loginBoard" class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                Hello, {{name}}
                <a (click)="logout()">Logout</a>
            </div>
            <ng-template #loginBoard>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                    <a (click)="openDialog()">Login</a>
                    <a (click)="openRegister()">Register</a>
                </div>
            </ng-template>

        </div>
    </div>
</mat-toolbar>
<hr>