<mat-toolbar class="toolbar" color="">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
                <a [routerLink]="['/careers']" routerLinkActive="active">Careers</a>
                <a [routerLink]="['/contacts']" routerLinkActive="active">Contacts</a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-md-2 col-lg-2">

                <div *ngIf="name; else loginBoard" class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                    Hello, {{name}}
                    <a (click)="logout()" routerLink="/home">Logout</a>
                </div>
                <ng-template #loginBoard>
                    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                        <a (click)="openDialog()">Login</a>
                        <a (click)="openRegister()">Register</a>
                    </div>
                </ng-template>
            </div>
        </div>
        <div *ngIf="isAdmin" class="col-sm-1 col-md-1 col-lg-1">
            <button mat-button [matMenuTriggerFor]="menu"> Admin Menu</button>
            <mat-menu #menu="matMenu">
                <div><button mat-menu-item routerLink="/admin/users">Users</button></div>
                <button mat-menu-item routerLink="/admin/ads">Ads</button>
                <button mat-menu-item routerLink="/admin/links">Links</button>
                <button mat-menu-item routerLink="/admin/contacts">Contacts</button>
            </mat-menu>

        </div>
    </div>

</mat-toolbar>
<hr>