@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.toolbar {
    background-color: rgb(222, 245, 245);
    height: 80px;
    width: 100%;
}

.container .row a {
    text-decoration: none;
    color: gold;
    font-size: 16px;
}

div {
    color: olive;
    font-size: 14px;
}

@media only screen and (min-width: 600px) {
    border-left: 2px solid rgb(10, 77, 30);
}

.container .row a:hover {
    color: orangered;
}

div:hover {
    color: orangered;
}

hr {
    color: rgb(224, 228, 8);
    padding: 10px;
    font-size: 13px;
}