<div class="create-job">
  <title>Create job</title>
  <form class='createJobModal'>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Title" minlength="4">
        <mat-hint align="end">Minimum length 4 symbols</mat-hint>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select placeholder="Category">
          <mat-option *ngFor="let cat of categories " [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select placeholder="Status">
          <mat-option *ngFor="let opt of options " [value]="opt.value">
            {{opt.status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <button mat-raised-button class="submit-btn">Create</button>
      <button mat-raised-button class="close-btn" (click)="close()">Close</button>
    </div>
  </form>
</div>
