<div class="page-container">
  <div class="job-ad-info">
    <div class="job-title">
      <h1>JavaScript Developer</h1>
      <h5>Created: 17/04/2018</h5>
    </div>
    <div class="job-description">
      <p>Job Description: We are looking for a Front-End Web Developer who is motivated to combine the art of design with the
        art of programming. In your position, you will help with the development of our client user interface, creating complex
        custom features using the latest browser technologies and optimizing a fast, simple and enjoyable high-end gaming
        platform.
      </p>
      <p>Skills and Qualifications: 2+ years of experience in Front End development Knowledge and experience in working with
        modern JS Experience in applying OOP and MVC principles Experience in debugging and profiling browser applications
        Familiarity with Pixi.js would be a plus Knowledge of version control systems (Git) Experience in TypeScript (ES6)
        would be a strong advantage Cross-browser development of web apps would be an advantage Experience with task manager
        tools will be a plus (Grunt/Gulp/Webpack) English - upper intermediate We Offer: Friendly environment of young and
        motivated people; Excellent remuneration and benefits package (additional health insurance, food vouchers, free snacks
        and beverages, bonuses, etc.)
      </p>
      <p>Flexible working time and fresh atmosphere Personal trainings and regular team buildings Please send your CV in English!
      </p>
    </div>
  </div>
  <div class="apply-button">
    <button class="apply" mat-raised-button>Apply</button>
  </div>
</div>
