.container {
    position: relative;
}

.contact-dets {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}

.contact-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.contacts {
    margin-top: 2%;
    padding: 1%;
    font-size: 1.3em;
}