<app-nav></app-nav>
<div class="container">
  <div class="contact-dets">
    <div>
      <h2>Contacts</h2>
    </div>
    <div *ngFor="let contact of contactDetails">
      <div class="contacts">
        {{contact.name}}: {{contact.value}}
      </div>
    </div>
  </div>
  <div class="contact-map">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBNOoc8b6pkhimpyTk_TsMnXFIuDF18TTo&q=Telerik+Academy,Sofia"
      allowfullscreen>
    </iframe>
  </div>
</div>
