.basic-container {
    height: 100%;
    width: 100%;
}

.table-container {
    height: 40%;
    width: 50%;
    margin: 2% 20% 2% 20%;
}

.create {
    margin: 0% 20% 0% 20%;
    background-color: blue;
    color: white;
}