// Variable
$usa-image-path: '../../assets/images/background-home-page.jpg';
.parallax {
    position: relative;
    background-image: url($usa-image-path);
    opacity: 0.5;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27em;
    width: 80%;
    // margin-top: 1%;
    margin-left: 10%;
}

h5 {
    display: inline;
}

.fieldActiveButtons {
    position: absolute;
    margin-bottom: 3%;
    bottom: 6%;
    left: 2%;
}

.fieldActiveButtons button {
    // width: 3em;
    height: 3em;
    border: 2px solid rgba(9, 1, 10, 0.3);
    font-size: 1em;
    color: rgb(228, 228, 95);
    text-shadow: 1px 1px rgba(250, 250, 55, 0.2);
    background-color: rgb(7, 7, 1) !important;
}

.fieldActiveButtons button:hover {
    // box-shadow: 5px 5px 5px 5px rgb(128, 128, 0) !important;
    color: rgb(240, 240, 9);
}

.socialButtons {
    background-color: transparent;
    text-align: left;
}

.socialButtons a {
    padding: 1.5em;
    text-align: center;
}

.socialButtons a:hover {
    background-color: rgb(9, 9, 71);
}

.footer {
    margin-left: 10%;
    position: absolute;
}

textarea {
    position: relative;
    width: 35em;
    height: 10em;
}