// Variable
.parallax {
    position: relative;
    opacity: 0.5;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: 70%;
    margin-left: 15%;
}

h5 {
    display: inline;
}

.fieldActiveButtons {
    display: inline;
}

.fieldActiveButtons button {
    margin-left: 5%;
    margin-top: 4%;
    height: 3em;
    font-size: 12px;
    // color: black;
    background-color: rgb(250, 136, 6);
}

// .fieldActiveButtons button a {
//     // width: 3em;
//     height: 3em;
//     font-size: 12px;
//     color: rgb(0, 0, 0) !important;
//     // background-color: rgb(7, 7, 1) !important;
// }
.fieldActiveButtons button:hover {
    // width: 3em;
    height: 4em;
    font-size: 13px;
    background-color: orangered;
}

.fieldActiveButtons button:hover {
    color: rgb(240, 240, 9);
    font-size: 14px;
}

.footer {
    margin-top: 1%;
    margin-bottom: 5%;
}

.footer span {
    margin-left: 15%;
}

ul {
    margin-left: 10%;
}

ul li {
    list-style-type: none;
    background-color: transparent;
    text-align: left;
    display: inline;
    padding: 2.5em;
}

ul li a {
    font-size: 16px;
}

.footer textarea {
    margin-left: 15%;
    width: 35em;
    height: 27em;
    word-spacing: 0.5em;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    color: black;
    background-color: oldlace;
}

iframe {
    width: 440px !important;
    margin-left: 5%;
    margin-top: 5%;
}

#facebook {
    width: 450px;
}

#magnifying-glass {
    font-size: 15em;
    /* This controls the size. */
    display: inline-block;
    margin-top: 5%;
    margin-left: 25%;
    width: 0.8em;
    height: 0.8em;
    border: 0.1em solid rgb(99, 85, 4);
    position: relative;
    border-radius: 0.35em;
}

#magnifying-glass::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.45em;
    bottom: -0.1em;
    border-width: 0;
    background: rgb(99, 85, 4);
    width: 0.55em;
    height: 0.11em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}