<div class="page-container">
    <app-nav></app-nav>
    <div [style.background-image]="homePageBackgroundImage" class="parallax">
        <div class="fieldActiveButtons">
            <span *ngFor="let actionLink of actionLinks" class="action-buttons">
        <button mat-raised-button>
          <a [href]="actionLink.linkTarget">{{actionLink.name}}</a>
        </button>
      </span>
        </div>
    </div>
    <div class="footer">
        <div class="socialButtons">
            <h5>Follow us:</h5>
            <a *ngFor="let socialLink of socialLinks" target="_blank" [href]="socialLink.linkTarget" [class]="socialLink.iconLink"></a>
        </div>
        <textarea>
      {{homePageText}}
    </textarea>
        <iframe [src]="facebookLatestPosts" width="340" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>