<div class='loginDialog'>
    <mat-form-field>
        <label for="username">Enter your username:</label>
        <input matInput type='email' name='username' ngModel [email]="true" [(ngModel)]='username' (keyup)="isValidEmail(username)" required>
    </mat-form-field>

    <mat-form-field>
        Enter your password:
        <input matInput name='password' [(ngModel)]='password' type='password' required>
    </mat-form-field>
    <div *ngIf="!isValidEmail(username)" class="errorEmail"> Your email is invalid</div>
    <div *ngIf="!isValidPassword(password)" class="errorEmail"> Your password is too short. Min 8 symbols</div>
    <div *ngIf="isValidData" class="errorEmail"> This email is not found</div>
    <div>

        <button *ngIf="isValidEmail(username) && isValidPassword(password)" mat-raised-button color="primary" (click)="login()">Enter</button>
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
    </div>

</div>