<app-nav></app-nav>

<div *ngIf="noJobAds" class="no-ads-container">
    <h2>There are no open positions - please try later.</h2>
</div>

<div *ngIf="!noJobAds" class="mat-app-background basic-container">
    <div class="ads-container">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Open Positions
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="job-title">
                    <a [routerLink]="['/careers/jobs/',element.id]" routerLinkActive="active">{{element.title}}</a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </div>
    <div class="filter-options">
        <div class="example-header">
            <form #form="ngForm" (ngSubmit)="filterFields(form.value)">
            <mat-form-field>
                <input matInput name="title" ngModel>
            </mat-form-field>
            <mat-form-field>
                <mat-select input placeholder="Job type " name="jobTypeId" ngModel>
                    <mat-option>All</mat-option>
                    <mat-option *ngFor="let type of types " value={{type.id}}>{{type.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="createdAt" [matDatepicker]="picker " placeholder="Choose a date " ngModel>
                <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
            <button type="submit">Apply</button>
            <button (click)="reset()">Reset</button>
        </div>
        </form>
        </div>
    </div>
</div>
