.registrationForm {
    height: 250px;
    margin-top: -35px !important;
}

.registrationForm mat-form-field {
    padding: 2px;
}

.errorEmail {
    border: 1px solid red;
    background-color: rgba(226, 102, 160, 0.5);
    padding: 3px;
    letter-spacing: 2px;
}