.registrationForm {
    font-size: 15px;
    align-items: center;
    text-align: center;
}

.reg-modal {
    background-color: rgb(247, 221, 173);
}

.enterData {
    margin-top: 4%;
}

.registrationForm mat-form-field {
    padding: 2px;
}

.errorEmail {
    border: 1px solid red;
    background-color: rgba(226, 102, 160, 0.5);
    padding: 3px;
    letter-spacing: 2px;
}