<div class='registrationForm'>
    <form>
        <p>Your username:</p>
        <mat-form-field>

            <input matInput placeholder="john@john.com" name="email" id="email" [(ngModel)]="email">
        </mat-form-field>
        <p>Your password:</p>
        <mat-form-field>

            <input matInput placeholder="password" name="password" id="password" [(ngModel)]="password">
        </mat-form-field>
        <p>Repeat password:</p>
        <mat-form-field>
            <input matInput placeholder="repeat password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" (click)="reg()">Register</button>
        <button mat-raised-button color="accent" (click)="noClick()">Close</button>
    </form>
</div>