<div class='registrationForm'>
    <form>
        <p>Your username:</p>
        <mat-form-field>

            <input matInput placeholder="john@john.com">
        </mat-form-field>
        <p>Your password:</p>
        <mat-form-field>

            <input matInput placeholder="password">
        </mat-form-field>
        <p>Repeat password:</p>
        <mat-form-field>

            <input matInput placeholder="again password">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="noClick()">Close</button>
        <button mat-raised-button color="primary">Register</button>
    </form>
</div>