<app-nav></app-nav>

<div *ngFor='let data of jobs'>
    <div *ngIf="urlId==data.id">
        <div class="page-container">
            <div class="job-ad-info">
                <div class="job-title">
                    <h1>{{data.title}}</h1>
                    <h6>Created: {{data.createdAt | date}}</h6>
                    <div class="job-description">
                        <p> {{data.description}}</p>
                    </div>
                </div>
            </div>
            <div class="apply-button">
                <button *ngIf="isUser; else notUserBlock" routerLink="/careers/jobs/{{data.id}}/job-application/{{data.title}}" class="apply btn-primary" mat-raised-button>Apply</button>
                <ng-template #notUserBlock> <button (click)="reg()" class="apply btn-primary" mat-raised-button>Apply</button>
                </ng-template>
                <br>

                <br>
                <button *ngIf="isAdmin" routerLink="/admin/applications/{{data.id}}" class="apply btn-info" mat-raised-button>Show all applications</button>
            </div>
        </div>
    </div>
</div>