.page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.job-ad-info {
    position: absolute;
    margin-top: 3%;
    margin-left: 25%;
    padding: 0.35%;
    width: 40%;
    height: 30%;
    top: 0;
    left: 0;
}

div .job-description {
    margin: 3%;
    padding: 2%;
    border-bottom: 3px solid green;
    background-color: rgba(0, 128, 0, 0.2);
    font-size: 15px;
    letter-spacing: 1%;
    text-align: left;
    border: 0.1px solid grey;
}

.job-title {
    margin: 0% 0% 2% 2%;
    padding: 1%;
}

.apply-button {
    position: absolute;
    margin-top: 3%;
    margin-right: 4%;
    padding: 0.35%;
    height: 20em;
    width: 20%;
    top: 0;
    right: 0;
}

.apply {
    width: 80%;
    height: 25%;
    background-color: rgba(0, 0, 255, 0.3);
    // color: white;
}